:root {
  --bs-body-color-rgb: #fff;
  --bs-body-bg-rgb: #000;
  --bs-body-color: #fff;
  --bs-body-bg: #000;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #000;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-heading-color: rgb(254, 0, 0);
  --bs-link-color: rgb(255, 255, 255);
  --bs-link-hover-color: rgb(254, 0, 0);
  --bs-highlight-bg: #fff3cd;
}

.offcanvas {
  --bs-offcanvas-bg: #000;
  --bs-offcanvas-color: #fff;
}

.accordion {
  --bs-accordion-color: #fff;
  --bs-accordion-bg: rgb(0, 0, 0);
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url('https://cdn-icons-png.flaticon.com/128/892/892498.png');
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url('https://cdn-icons-png.flaticon.com/128/892/892555.png');
  --bs-accordion-btn-focus-border-color: rgb(190, 0, 0);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: rgb(190, 0, 0)
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', sans-serif;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {

  h1,
  .h1 {
    font-size: 4rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {

  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.nav-link {
  color: #fff;
}

.swiper-pagination-bullet {
  background: white;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet:nth-child(6) {
  background-color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.swiper-slide-text {
  background-color: #000;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide-text span {
  font-size: 3em;
}

@media (max-width: 1280px) {
  .swiper-slide-text h1 {
    font-size: 3.5em;
  }

  .swiper-slide-text span {
    font-size: 2.5em;
  }
}

@media (max-width: 950px) {
  .swiper-slide-text {
    width: 100%;
    height: 50%;
    top: 50%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .swiper-slide-text h1 {
    font-size: 3em;
  }

  .swiper-slide-text span {
    font-size: 2em;
  }
}

.content {
  padding-top: 8rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 90%;
  max-width: 30rem;
  margin: auto;
}

label {
  color: #000;
}

p {
  width: 90%;
  max-width: 50rem;
}

.content-row {
  display: flex;
  flex-direction: row;
}


.contacts {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.bd-blue-100 {
  color: #000;
  background-color: #cfe2ff
}

.bd-blue-200 {
  color: #000;
  background-color: #9ec5fe
}

.bd-blue-300 {
  color: #000;
  background-color: #6ea8fe
}

.bd-blue-400 {
  color: #000;
  background-color: #3d8bfd
}

.bd-blue-500 {
  color: #fff;
  background-color: #0d6efd
}

.bd-blue-600 {
  color: #fff;
  background-color: #0a58ca
}

.bd-blue-700 {
  color: #fff;
  background-color: #084298
}

.bd-blue-800 {
  color: #fff;
  background-color: #052c65
}

.bd-blue-900 {
  color: #fff;
  background-color: #031633
}

.bd-indigo-100 {
  color: #000;
  background-color: #e0cffc
}

.bd-indigo-200 {
  color: #000;
  background-color: #c29ffa
}

.bd-indigo-300 {
  color: #000;
  background-color: #a370f7
}

.bd-indigo-400 {
  color: #fff;
  background-color: #8540f5
}

.bd-indigo-500 {
  color: #fff;
  background-color: #6610f2
}

.bd-indigo-600 {
  color: #fff;
  background-color: #520dc2
}

.bd-indigo-700 {
  color: #fff;
  background-color: #3d0a91
}

.bd-indigo-800 {
  color: #fff;
  background-color: #290661
}

.bd-indigo-900 {
  color: #fff;
  background-color: #140330
}

.bd-purple-100 {
  color: #000;
  background-color: #e2d9f3
}

.bd-purple-200 {
  color: #000;
  background-color: #c5b3e6
}

.bd-purple-300 {
  color: #000;
  background-color: #a98eda
}

.bd-purple-400 {
  color: #000;
  background-color: #8c68cd
}

.bd-purple-500 {
  color: #fff;
  background-color: #6f42c1
}

.bd-purple-600 {
  color: #fff;
  background-color: #59359a
}

.bd-purple-700 {
  color: #fff;
  background-color: #432874
}

.bd-purple-800 {
  color: #fff;
  background-color: #2c1a4d
}

.bd-purple-900 {
  color: #fff;
  background-color: #160d27
}

.bd-pink-100 {
  color: #000;
  background-color: #f7d6e6
}

.bd-pink-200 {
  color: #000;
  background-color: #efadce
}

.bd-pink-300 {
  color: #000;
  background-color: #e685b5
}

.bd-pink-400 {
  color: #000;
  background-color: #de5c9d
}

.bd-pink-500 {
  color: #fff;
  background-color: #d63384
}

.bd-pink-600 {
  color: #fff;
  background-color: #ab296a
}

.bd-pink-700 {
  color: #fff;
  background-color: #801f4f
}

.bd-pink-800 {
  color: #fff;
  background-color: #561435
}

.bd-pink-900 {
  color: #fff;
  background-color: #2b0a1a
}

.bd-red-100 {
  color: #000;
  background-color: #f8d7da
}

.bd-red-200 {
  color: #000;
  background-color: #f1aeb5
}

.bd-red-300 {
  color: #000;
  background-color: #ea868f
}

.bd-red-400 {
  color: #000;
  background-color: #e35d6a
}

.bd-red-500 {
  color: #fff;
  background-color: rgb(254, 0, 0)
}

.bd-red-600 {
  color: #fff;
  background-color: rgb(216, 0, 0)
}

.bd-red-700 {
  color: #fff;
  background-color: rgb(190, 0, 0)
}

.bd-red-800 {
  color: #fff;
  background-color: rgb(164, 0, 0)
}

.bd-red-900 {
  color: #fff;
  background-color: rgb(128, 0, 0)
}

.bd-orange-100 {
  color: #000;
  background-color: #ffe5d0
}

.bd-orange-200 {
  color: #000;
  background-color: #fecba1
}

.bd-orange-300 {
  color: #000;
  background-color: #feb272
}

.bd-orange-400 {
  color: #000;
  background-color: #fd9843
}

.bd-orange-500 {
  color: #000;
  background-color: #fd7e14
}

.bd-orange-600 {
  color: #000;
  background-color: #ca6510
}

.bd-orange-700 {
  color: #fff;
  background-color: #984c0c
}

.bd-orange-800 {
  color: #fff;
  background-color: #653208
}

.bd-orange-900 {
  color: #fff;
  background-color: #331904
}

.bd-yellow-100 {
  color: #000;
  background-color: #fff3cd
}

.bd-yellow-200 {
  color: #000;
  background-color: #ffe69c
}

.bd-yellow-300 {
  color: #000;
  background-color: #ffda6a
}

.bd-yellow-400 {
  color: #000;
  background-color: #ffcd39
}

.bd-yellow-500 {
  color: #000;
  background-color: #ffc107
}

.bd-yellow-600 {
  color: #000;
  background-color: #cc9a06
}

.bd-yellow-700 {
  color: #000;
  background-color: #997404
}

.bd-yellow-800 {
  color: #fff;
  background-color: #664d03
}

.bd-yellow-900 {
  color: #fff;
  background-color: #332701
}

.bd-green-100 {
  color: #000;
  background-color: #d1e7dd
}

.bd-green-200 {
  color: #000;
  background-color: #a3cfbb
}

.bd-green-300 {
  color: #000;
  background-color: #75b798
}

.bd-green-400 {
  color: #000;
  background-color: #479f76
}

.bd-green-500 {
  color: #fff;
  background-color: #198754
}

.bd-green-600 {
  color: #fff;
  background-color: #146c43
}

.bd-green-700 {
  color: #fff;
  background-color: #0f5132
}

.bd-green-800 {
  color: #fff;
  background-color: #0a3622
}

.bd-green-900 {
  color: #fff;
  background-color: #051b11
}

.bd-teal-100 {
  color: #000;
  background-color: #d2f4ea
}

.bd-teal-200 {
  color: #000;
  background-color: #a6e9d5
}

.bd-teal-300 {
  color: #000;
  background-color: #79dfc1
}

.bd-teal-400 {
  color: #000;
  background-color: #4dd4ac
}

.bd-teal-500 {
  color: #000;
  background-color: #20c997
}

.bd-teal-600 {
  color: #000;
  background-color: #1aa179
}

.bd-teal-700 {
  color: #fff;
  background-color: #13795b
}

.bd-teal-800 {
  color: #fff;
  background-color: #0d503c
}

.bd-teal-900 {
  color: #fff;
  background-color: #06281e
}

.bd-cyan-100 {
  color: #000;
  background-color: #cff4fc
}

.bd-cyan-200 {
  color: #000;
  background-color: #9eeaf9
}

.bd-cyan-300 {
  color: #000;
  background-color: #6edff6
}

.bd-cyan-400 {
  color: #000;
  background-color: #3dd5f3
}

.bd-cyan-500 {
  color: #000;
  background-color: #0dcaf0
}

.bd-cyan-600 {
  color: #000;
  background-color: #0aa2c0
}

.bd-cyan-700 {
  color: #fff;
  background-color: #087990
}

.bd-cyan-800 {
  color: #fff;
  background-color: #055160
}

.bd-cyan-900 {
  color: #fff;
  background-color: #032830
}

.bd-gray-100 {
  color: #000;
  background-color: #f8f9fa
}

.bd-gray-200 {
  color: #000;
  background-color: #e9ecef
}

.bd-gray-300 {
  color: #000;
  background-color: #dee2e6
}

.bd-gray-400 {
  color: #000;
  background-color: #ced4da
}

.bd-gray-500 {
  color: #000;
  background-color: #adb5bd
}

.bd-gray-600 {
  color: #fff;
  background-color: #6c757d
}

.bd-gray-700 {
  color: #fff;
  background-color: #495057
}

.bd-gray-800 {
  color: #fff;
  background-color: #343a40
}

.bd-gray-900 {
  color: #fff;
  background-color: #212529
}

.bd-white {
  color: #000;
  background-color: #fff
}

.bd-black {
  color: #fff;
  background-color: #000
}
