{% extends 'base.html' %}

{% block title %}О нас{% endblock %}
{% block files %}

{% endblock %}
{% block content %}
  <div class="content">
    <img src="../static/img/about.jpg" class="about-image">
    <h1>О нас</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius laborum voluptate vel, sapiente veniam mollitia cumque reiciendis ad voluptates vitae rerum laudantium quia inventore aliquam, porro maiores? Repudiandae, repellendus.</p>
    <div class="about-images">
      <img src="https://s0.rbk.ru/v6_top_pics/media/img/0/41/756536450377410.jpg">
      <img src="https://s0.rbk.ru/v6_top_pics/media/img/0/41/756536450377410.jpg">
      <img src="https://s0.rbk.ru/v6_top_pics/media/img/0/41/756536450377410.jpg">
    </div>
  </div>
{% endblock %}