<!DOCTYPE html>
<html lang="ru" data-country-code="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="Zov Detailing">
  <title>{% block title %}{% endblock %} - Zov Detailing</title>
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../static/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="../static/js/swiper-bundle.min.js"></script>
  <script src='../static/js/bootstrap.bundle.min.js'></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <a class='navbar-brand' href='/'><img src="../static/img/logo.png"></a>
    <div class="offcanvas-body p-lg-0">
      <button class='btn btn-danger navbar-toggler border-3 px-2' type='button' data-bs-toggle='offcanvas'
        data-bs-target='#offcanvasExample' aria-controls='offcanvasExample'>
        <img style='width: 30px; filter: invert(100%);' src='../static/img/hamburger.png'>
      </button>
      <div class='offcanvas offcanvas-start-lg bg-danger' tabindex='-1' id='offcanvasExample'
        aria-labelledby='offcanvasExampleLabel'>
        <div class='offcanvas-header d-flex d-lg-none'>
          <h2 class='offcanvas-title' style="color: white;" id='offcanvasExampleLabel'>МЕНЮ</h2>
          <a href='javascript:void(0) ' class='text-reset p-0' data-bs-dismiss='offcanvas' aria-label='close'>
            <img src="../static/img/delete.png" style='width: 30px; filter: invert(100%);'>
          </a>
        </div>
        <div class='offcanvas-body p-lg-0'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <h4><a href="about">О проекте</a></h4>
            </li>
            <li class='nav-item'>
              <h4><a href="promotion">Акции</a></h4>
            </li>
            <li class='nav-item'>
              <h4><a href="prices">Прайс-лист</a></h4>
            </li>
            <li class='nav-item'>
              <h4><a href="feedback">Связаться с нами</a></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>