{% extends 'base.html' %}

{% block title %}Связь с нами{% endblock %}

{% block content %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Наши контакты</h1>
    <div class="col-lg-6 mx-auto">
      <div class="lead">88005553535</div>
      <div class="lead">contact@zov-detailing.ru</div>
      <div class="lead">г. Москва, ул. Пушкина, д. Колотушкина</div>
    </div>
  </div>
  <div class="px-4 pb-5 text-center">
    <h1 class="display-5 fw-bold">Связь с нами</h1>
  </div>
  <div class="form pb-5  text-center">
    <form method="post">
      <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="id_name" value="{{ request.form['name'] }}" required placeholder="fio">
        <label for="id_name">ФИО</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" name="phone" class="form-control" id="id_phone" value="{{ request.form['phone'] }}" required placeholder="phone">
        <label for="id_phone">Телефон</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="id_email" value="{{ request.form['email'] }}" required placeholder="email">
        <label for="id_email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" id="id_text" value="{{ request.form['text'] }}" required placeholder="text" rows="3"></textarea>
        <label for="id_text">Текст обращения</label>
      </div>
      <div class="mb-3 form-check text-start">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-white" for="exampleCheck1">Согласие на обработку персональных данных</label>
      </div>
      <button class="btn btn-danger" type="submit">Отправить</button>
    </form>
  </div>
  
</div>
<script>
  window.onload = function() {
    const navbar = document.querySelector(".navbar");
    const container = document.querySelector(".container");
    container.style.paddingTop = (navbar.clientHeight.toString()) + 'px';
  }
</script>
{% endblock %}