{% extends 'base.html' %}

{% block title %}Связь с нами{% endblock %}

{% block content %}
  <div class="container">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Наши контакты</h1>
      <div class="col-lg-6 mx-auto">
        <div class="lead">88005553535</div>
        <div class="lead">contact@zov-detailing.ru</div>
        <div class="lead">г. Москва, ул. Пушкина, д. Колотушкина</div>
      </div>
    </div>
    <div class="px-4 pb-5 text-center">
      <h1 class="display-5 fw-bold">Связь с нами</h1>
    </div>
    <div class="form pb-5">
      <form method="post" onsubmit="return false;" id="feedback-form">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-floating mb-3">
          <input type="text" name="name" class="form-control" id="name" required placeholder="fio">
          <label for="name">Ваше имя</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" name="phone" class="form-control" id="phone" required placeholder="phone">
          <label for="phone">Ваш номер телефона</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" name="email" class="form-control" id="email" required placeholder="email">
          <label for="email">Ваша электронная почта</label>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label text-white">Текст обращения</label>
          <textarea name="message" class="form-control" id="message" required rows="5"></textarea>
        </div>
        <div class="mb-3 form-check text-start">
          <input type="checkbox" class="form-check-input" id="agree" required>
          <label class="form-check-label text-white" for="agree">Согласие на обработку персональных данных</label>
        </div>
        <div class="pt-3 d-flex justify-content-center">
          <button class="btn btn-danger" id="submit" type="submit">Записаться</button>
        </div>
      </form>
    </div>
  </div>
  <script>
      document.getElementById("submit").addEventListener("click", function () {
          let form = document.getElementById("feedback-form");
          let formData = new FormData(form);
          formData.append("csrf_token", document.getElementById("csrf_token").value);
          fetch("/mail", {"method": "POST", "body": formData}).then(function(response) {
              response.json().then(function(data) {
                  if (response.ok) {
                      document.location = '/';
                      alert("Сообщение успешно доставлено!")
                  } else {
                      Object.keys(data.data).forEach(function(key) {
                          let e = form.elements[key]
                          e.classList.add("is-invalid");
                          let error = '<div id="validationServerUsernameFeedback" class="invalid-tooltip">' + data.data[key] + '</div>';
                          e.parentElement.innerHTML += error;
                      })
                  }
              });
          }).catch(function(error) {
              console.log(error);
          });
      });

      window.onload = function() {
          const navbar = document.querySelector(".navbar");
          const container = document.querySelector(".container");
          container.style.paddingTop = (navbar.clientHeight.toString()) + 'px';
      }
  </script>
{% endblock %}