{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block files %}
  
{% endblock %}
{% block content %}
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"
      style="background-image: url('../static/img/1.jpg');">
      <div class="swiper-slide-text">
        <h1>ДЕТЕЙЛИНГ МОЙКА</h1>
        <span>Цена от 16OO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/2.jpg');">
      <div class="swiper-slide-text">
        <h1>ОКЛЕЙКА</h1>
        <span>Цена от 5OOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/3.jpg');">
      <div class="swiper-slide-text">
        <h1>КЕРАМИКА</h1>
        <span>Цена от 4OOOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/4.jpg');">
      <div class="swiper-slide-text">
        <h1>ХИМЧИСТКА</h1>
        <span>Цена от 15OOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/5.jpg');">
      <div class="swiper-slide-text">
        <h1>ПОКРАСКА</h1>
        <span>Цена от 1OOOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="container">
        <div class="px-4 py-5 mt-5 text-center">
          <h1 class="display-5 fw-bold">Запись на приём</h1>
        </div>
        <div class="form">
          <form method="post">
            <div class="form-floating mb-3">
              <input type="text" name="name" class="form-control" id="id_name" value="{{ request.form['name'] }}" required placeholder="fio">
              <label for="id_name">ФИО</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" name="phone" class="form-control" id="id_phone" value="{{ request.form['phone'] }}" required placeholder="phone">
              <label for="id_phone">Телефон</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" name="email" class="form-control" id="id_email" value="{{ request.form['email'] }}" required placeholder="email">
              <label for="id_email">Email</label>
            </div>
            <div class="mb-3 form-check text-start">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label text-white" for="exampleCheck1">Согласие на обработку персональных данных</label>
            </div>
            <button class="btn btn-danger" type="submit">Записаться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<script>
  var swiper = new Swiper(".mySwiper", {
    direction: "vertical",
    slidesPerView: 1,
    mousewheel: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
  window.onload = function () {
      const navbar = document.querySelector(".navbar");
      const container = document.querySelector(".container");
      container.style.paddingTop = (navbar.clientHeight.toString()) + 'px';
    }
</script>
{% endblock %}