{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block files %}
  
{% endblock %}
{% block content %}
<div class="body swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"
      style="background-image: url('../static/img/1.jpg');">
      <div class="swiper-slide-text">
        <h1>ДЕТЕЙЛИНГ МОЙКА</h1>
        <span>Цена от 16OO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/2.jpg');">
      <div class="swiper-slide-text">
        <h1>ОКЛЕЙКА</h1>
        <span>Цена от 5OOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/3.jpg');">
      <div class="swiper-slide-text">
        <h1>КЕРАМИКА</h1>
        <span>Цена от 4OOOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/4.jpg');">
      <div class="swiper-slide-text">
        <h1>ХИМЧИСТКА</h1>
        <span>Цена от 15OOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide"
      style="background-image: url('../static/img/5.jpg');">
      <div class="swiper-slide-text">
        <h1>ПОКРАСКА</h1>
        <span>Цена от 1OOOO ₽</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="form">
        <h2>Запись на приём</h2>
        {% if message %}
          <p>{{ message }}</p>
        {% endif %}
        <form action="" method="post">
          <div class="form-row">
            <label for="">ФИО:</label>
            <input type="text" name="name" placeholder="Иванов Иван Иванович" value="{{ request.form['name'] }}" required>
          </div>
          <div class="form-row">
            <label for="">Телефон:</label>
            <input type="text" name="phone" placeholder="88005553535" value="{{ request.form['phone'] }}" required>
          </div>
          <div class="form-row">
            <label for="">Email:</label>
            <input type="text" name="email" placeholder="example@mail.ru" value="{{ request.form['email'] }}" required>
          </div>
          <div class="form-row-agree">
            <input type="checkbox" name="agree" required>
            <div class="form-agree">
              Согласие на обработку персональных данных
            </div>
          </div>
          <button class="form-button" type="submit">Записаться</button>
        </form>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<script>
  var swiper = new Swiper(".mySwiper", {
    direction: "vertical",
    slidesPerView: 1,
    mousewheel: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
{% endblock %}