{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-slide-prices">
        <h1>МОЙКА</h1>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
        
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide-prices">
        <h1>МОЙКА</h1>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
        
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-slide-prices">
        <h1>МОЙКА</h1>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
        
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="swiper-slide-prices">
        <h1>МОЙКА</h1>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
        
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      
        <button class="accordion">
          <h4>ДЕТЕЙЛИНГ МОЙКА</h4>
          <h6>от 1 600р. до 2 500 р.</h6>
        </button>
        <div class="panel">
          <ul>
            <li>МОЙКА КУЗОВА ПО ТЕХНОЛОГИИ 3-Х ФАЗ (ПОРОГИ, КОЛЕСНЫЕ АРКИ И ДИСКИ, НАСАДКИ ВЫХЛОПНОЙ СИСТЕМЫ, ВНУТРЕННИЕ ПРОЕМЫ)</li>
            <li>ОЧИСТКА САЛОННЫХ КОВРИКОВ</li>
            <li>ПОЛНАЯ ПРОДУВКА КУЗОВА ГОРЯЧИМ ВОЗДУХОМ</li>
            <li>КОНСЕРВАЦИЯ КУЗОВА QUICK DETAILER</li>
            <li>ОЧИСТКА И КОНСЕРВАЦИЯ РЕЗИНЫ (ЧЕРНЕНИЕ ГЛЯНЕЦ/МАТ)</li>
            <li>ОЧИСТКА СТЕКОЛ СНАРУЖИ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
{% endblock %}